body {
    background-color: #000;
}
.container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: #000;    
}
.container-mod2{
    padding-top: 250px;
}
.panel-body {
    background-color: #FFF;
}
.hero-video{
    width:860px;
    height:484px;
}
.hero-img{
    width:20%;
}
.hero-description {
    padding: 0 0 0 0px;
    vertical-align: top;
    width: 54%;
    font-size:15px;
}
.hero-description > p > a {
    color: #f76700;
}
.hero-description > p > a:hover {
    color: #8f3100;
}

